/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

/* CSS Variables */

:root {
  --color-primary-orange: #e9ab53;
  --color-primary-red: #f15e50;
  --color-white: #fffdfa;
  --color-grayish-blue: #c5c6ce;
  --color-dark-greyish-blue: #5d5f79;
  --color-dark-blue: #00001a;
  --font-family: "Inter", sans-serif;
}

/* Global */

*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* Reset font size to 10px */
}

body {
  font-family: var(--font-family);
}

/* Layout */

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 343px;
  margin: 0 auto;
}

.navbar {
  grid-column: 1 / -1;
}

.showcase {
  grid-column: 1 / -1;
}

.new {
  grid-column: 1 / -1;
}

.trending {
  grid-column: 1 / -1;
}

@media (min-width: 1440px) {
  .wrapper {
    max-width: 1040px;
    margin: 0 auto;
  }
  .showcase {
    grid-column: 1 / 3;
  }

  .new {
    grid-column: 3 / 4;
  }
}
